<html>
    <title>Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <body>
        <h1>udn Crawler</h1>
        <form action="/udnCrawler", method = "GET">
            Get all udn news data <button type="submit" class="btn btn-primary">Click me</button>
        </form> 

        <form action="/get_data", method="POST">
            Num : <input type = "text" name = "num">
            <button type="submit" class="btn btn-danger">Find data</button>
        </form>
    </body>
</html>