<html>
    <head>
        <title>Main Page</title>
        <link rel="icon" href="/public/hand.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <h1>udn Crawler</h1>
        <form action="/crawler" method="POST" >
            <div class="form-group">
                <label>UserName</label><br>
                <input type="text" name="name">
            </div>
            <div class="form-group">
                <label >UserPassword</label><br>
                <input type="password"  name="password">
            </div>
            <div class="form-group">
                <label for="rePass">Repeat Your Password</label><br>
                <input type="password" id="rePass">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-link" href="/template/login.html" role="button">Login</a>
        </form>
    </body>
</html>